<mat-toolbar color="primary">
	<div class="flex container">
		<div class="topic-title">
			<h1>{{topic?.name}}</h1>
			<p *ngIf="topic?.stage != C.STAGE_REJECTED && topic?.stage != C.STAGE_PASSED">
				{{ topic?.stageName | translate }} {{ 'TOPIC_SUBTITLE_1' | translate }} {{ topic?.nextDeadline | date:'y-MM-dd' }} {{ 'TOPIC_SUBTITLE_2' | translate }} {{ topic?.nextDeadline | date:'HH:mm:ss' }} (<countdown [time]="topic?.nextDeadline"></countdown>)
			</p>
			<p *ngIf="topic?.stage == C.STAGE_PASSED">{{ topic?.stageName | translate }} {{ 'TOPIC_SUBTITLE_3' | translate }} {{ topic?.stagePassedStarted | date:'y-MM-dd' }}</p>
			<p *ngIf="topic?.stage == C.STAGE_REJECTED">{{ topic?.stageName | translate }} {{ 'TOPIC_SUBTITLE_3' | translate }}  {{ topic?.stageRejectedStarted | date:'y-MM-dd' }} {{ 'TOPIC_SUBTITLE_2' | translate }} {{ topic?.nextDeadline | date:'HH:mm:ss' }}</p>
		</div>
		
		<span class="flex-spacer"></span>
		
		<button mat-button [ngClass]="{'active': activeTab == 'overview'}" [routerLink]="['/topic', topicId, 'overview']">
			<span><fa-icon [icon]="faTh"></fa-icon> {{ 'TOPIC_TOOLBAR_BUTTON_OVERVIEW' | translate }}</span>
		</button>
		<button mat-button *ngIf="(basicTopic?.stage >= C.STAGE_PROPOSAL || basicTopic?.stage == C.STAGE_REJECTED) && basicTopic?.hasProposal" [ngClass]="{'active': activeTab == 'proposal'}" [routerLink]="['/topic', topicId, 'proposal']">
			<span><fa-icon [icon]="faFile"></fa-icon> {{ 'TOPIC_TOOLBAR_BUTTON_PROPOSAL' | translate }}</span>
		</button>
		<button mat-button *ngIf="basicTopic?.stage >= C.STAGE_CONSENSUS || basicTopic?.stage == C.STAGE_REJECTED" [ngClass]="{'active': activeTab == 'groups'}" title="{{ 'TOPIC_BUTTON_STRUCTURE' | translate }}" [routerLink]="['/topic', topicId, 'groups']">
			<span><fa-icon [icon]="faSitemap"></fa-icon> {{ 'TOPIC_TOOLBAR_BUTTON_GROUPS' | translate }}</span>
		</button>
	</div>
</mat-toolbar>
