<stagebar>
	<div class="container">
		<p class="default-text" [@fadeInOut]="descStatus" (@fadeInOut.done)="descAnimationDone($event)">{{ 'GROUPVIS_DETAIL_LABEL_CHOOSE' | translate }}</p>
		<div [@fadeInOut]="detailStatus" (@fadeInOut.done)="detailAnimationDone($event)">
			<div class="flex">
				<div>
					<h2>
						<span *ngIf="proposal">{{ 'GROUPVIS_PROPOSAL_LABEL' | translate }} {{ proposal?.name }}</span>
						<span *ngIf="group">{{ 'GROUPVIS_GROUP_LABEL' | translate }} {{ group?.name }} ({{ group?.code }})</span>
						
					</h2>
					<p *ngIf="proposal">
						{{ 'GROUPVIS_PROPOSAL_DETAIL_PREFIX' | translate:{ 'numWords': proposal?.numWords } }}
						<a [routerLink]="['/user', proposal?.authorId]">{{ proposal?.authorId }}</a>
						{{ proposal?.textDetailSuffix | translate:{ 'expiration': proposal?.expiration | date:'y-MM-dd' } }}
					</p>
					<p *ngIf="group">
						{{ group?.textDetail | translate:{ 'numMembers': group?.numMembers, 'numWords': group?.numWords, 'expiration': group?.expiration | date:'y-MM-dd' } }}
					</p>
				</div>
				
				<span class="flex-spacer"></span>
				
				<button mat-raised-button color="warn" *ngIf="proposal" (click)="openProposalDialog(proposal?.html)">
					<span><fa-icon [icon]="faPlay"></fa-icon> {{ 'GROUPVIS_DETAIL_PROPOSAL_BUTTON_LABEL' | translate }}</span>
				</button>
				<button mat-raised-button color="warn" *ngIf="group" [routerLink]="['/group', group.groupId]">
					<span><fa-icon [icon]="faPlay"></fa-icon> {{ 'GROUPVIS_DETAIL_GROUP_BUTTON_LABEL' | translate }}</span>
				</button>
			</div>
		</div>
	</div>
</stagebar>

<div class="container vis-wrapper">
	<div>
		<div #network id="network"></div>
		<!--<div class="network-canvas" [visNetwork]="visNetwork" [visNetworkData]="visNetworkData" [visNetworkOptions]="visNetworkOptions" (initialized)="networkInitialized()"></div>-->
	</div>
	<div class="legend">
		<p><span class="legend-color" [style.background-color]="meColor.background"></span> {{ 'GROUPVIS_LEGEND_ME' | translate }}</p>
		<p><span class="legend-color" [style.background-color]="groupColor.background"></span> {{ 'GROUPVIS_LEGEND_GROUPS' | translate }}</p>
		<p><span class="legend-color" [style.background-color]="proposalColor.background"></span> {{ 'GROUPVIS_LEGEND_PROPOSALS' | translate }}</p>
	</div>
</div>
