/* Import variables */
@import "~styles/variables";

stagebar h2 { font-size: 20px; font-weight: normal; }
stagebar p { margin: 0; font-size: 12px; font-weight: 300; line-height: 16px; padding-bottom: 8px; }
stagebar p.default-text { font-weight: 300; font-size: 16px; padding-top: 20px; text-align: center; }
stagebar button { height: 38px; margin-top: 12px; }
stagebar a { color: inherit; }

.vis-wrapper { position: relative; }

#network { background-color: $white; width: 100%; height: 600px; }
/*.network-canvas { background-color: $white; width: 100%; height: 600px; }*/

.legend { position: absolute; top: 0; left: 0; margin: 40px; }
.legend p { margin: 0 0 1rem 0; font-size: 12px; line-height: 20px; }
.legend-color { display: inline-block; float: left; height: 20px; width: 20px; margin-right: 10px; box-shadow: 1px 1px 2px rgba(0,0,0,0.2); }
